#body {
  background-color: white;
}

#content {
  font-family: monospace;
  flex-direction: column;
  display: flex;;
  align-items: center;
  justify-content: center;
}

#controlls {
  margin-top: 20px;
  flex-direction: row;
  display: flex;;
  align-items: center;
  justify-content: center;
}

.tileFrames {
  height: 50px;
  width: 50px;
}

.tile {
  height: 49px;
  width: 49px;
  background-color: grey;
}
.tile-clickable {
  height: 100%;
  width: 100%;
}

.title {
  font-size: 30px;
  color: aqua;
  text-align: center;
}

.elementSelector {
  white-space: pre-wrap;
  text-align: left;
}