#body {
  background-color: white;
}

#content {
  font-family: monospace;
  flex-direction: column;
  display: flex;;
  align-items: center;
  justify-content: center;
}

#controlls {
  margin-top: 20px;
  flex-direction: row;
  display: flex;;
  align-items: center;
  justify-content: center;
}

.tileFrames {
  height: 50px;
  width: 50px;
  padding: 0;
}

.tile {
  height: 50px;
  width: 50px;
  background-color: grey;
  position: relative;
}

.tile-clickable {
  height: 100%;
  width: 100%;
}

.title {
  font-size: 30px;
  color: aqua;
  text-align: center;
}

.elementSelector {
  white-space: pre-wrap;
  text-align: left;
}

.table {
  border-spacing: 0;
}

.tile-marker-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.tile-background-image {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}