@import util.HtmlUtilities
@import util.ElementGenerator

@(htmlUtil: HtmlUtilities, schemeIndex: Int)

<div id="animated-bg">
    @animatedBgElement(ElementGenerator.generateElement(0), htmlUtil, schemeIndex)
    @animatedBgElement(ElementGenerator.generateElement(0), htmlUtil, schemeIndex)
    @animatedBgElement(ElementGenerator.generateElement(0), htmlUtil, schemeIndex)
    @animatedBgElement(ElementGenerator.generateElement(0), htmlUtil, schemeIndex)
    @animatedBgElement(ElementGenerator.generateElement(0), htmlUtil, schemeIndex)
    @animatedBgElement(ElementGenerator.generateElement(0), htmlUtil, schemeIndex)
</div>