@import blockudoku.models.{Element, Grid}
@import util.HtmlUtilities
@import services.UniversalGridPreviewGenerator
@(universalGridPreview: UniversalGridPreviewGenerator, elements: List[Element], htmlUtil: HtmlUtilities, schemeIndex: Int)

<div id="colorCarousel" class="carousel slide position-relative carousel-fade" hx-swap-oob="true">
    <div class="carousel-inner" >
        <div class="@("carousel-item" + (if(schemeIndex == 0) " active" else ""))">
        @gameboard(universalGridPreview, elements, htmlUtil, 0)
        </div>
        <div class="@("carousel-item" + (if(schemeIndex == 1) " active" else ""))">
        @gameboard(universalGridPreview, elements, htmlUtil, 1)
        </div>
        <div class="@("carousel-item" + (if(schemeIndex == 2) " active" else ""))">
        @gameboard(universalGridPreview, elements, htmlUtil, 2)
        </div>
        <div class="@("carousel-item" + (if(schemeIndex == 3) " active" else ""))">
        @gameboard(universalGridPreview, elements, htmlUtil, 3)
        </div>
    </div>
        <div class="position-absolute top-0 start-0 w-100 h-100">
            <div class="container">
            @for(y <- 0 until universalGridPreview.yLength) {
                <div class="row g-0 justify-content-center">
                @for(x <- 0 until universalGridPreview.xLength) {
                    <div class="col-auto">
                        <div class="tile">
                        @tileMarker(
                            universalGridPreview.getValidTiles(x, y),
                            universalGridPreview.getInvalidTiles(x, y),
                            x + y * universalGridPreview.xLength)
                        </div>
                    </div>
                }
                </div>
            }
            </div>
        </div>

    <div class="key-control ui-helper-hidden">
        @for(i <- elements.indices) {
            <div hx-trigger="keyup[key=='@(i+1)'] from:document"
            hx-post="/select/@i"
            hx-swap="none" >
            </div>
        }
    </div>

    <form class="d-inline"
    hx-post="update/color/prev"
    hx-trigger="click"
    hx-swap="none">
    <button class="carousel-control-prev btn-carousel-control-bd" type="submit"
    data-bs-target="#colorCarousel"
    data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    </form>
    <form class="d-inline"
    hx-post="update/color/next"
    hx-trigger="click"
    hx-swap="none">
    <button class="carousel-control-next btn-carousel-control-bd" type="submit" data-bs-target="#colorCarousel"
    data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
    </form>
</div>