@import blockudoku.models.*
@import util.HtmlUtilities

@(element: Element, htmlUtil: HtmlUtilities, schemeIndex: Int, elementIndex: Int)
<div class="container element"
role="button"
@*hx-trigger="click"*@
@*hx-post="/select/@elementIndex"*@
@*hx-swap="none"*@
data-ind="@elementIndex"
>
    @for(y <- element.dimensions._4 to element.dimensions._3 by -1) {
        <div class="row">
            @for(x <- element.dimensions._1 to element.dimensions._2) {
                <div class="col-auto tile-frames">
                    @if(element.structure.contains(Point(x, y))) {
                        @defining(Tile(0, Point(0,0), element.colors, TileState.blocked)) { gridTile =>

                                <div
                                class="tile"
                                >
                                    <img
                                    src="@routes.Assets.versioned(htmlUtil.getTileImage(gridTile,
                                        schemeIndex))"
                                    class="tile-background-image"
                                    draggable="false"
                                    >
                                </div>
                        }
                    }
                </div>
            }
        </div>
        }
</div>