@import blockudoku.models.{Element, Grid}
@import util.HtmlUtilities
@(grid: Grid, elements: List[Element], htmlUtil: HtmlUtilities, isElementSelected: Boolean, schemeIndex: Int)

<div id="content">
    <div class="container">
    @for(y <- 0 until grid.yLength) {
        <div class="row g-0 justify-content-center">
        @for(x <- 0 until grid.xLength) {
            @defining(grid.tile(x, y).get) { gridTile =>
                <div class="col-auto">
                    <div
                    class="tile"
                    >
                        <img
                        src="@routes.Assets.versioned(htmlUtil.getTileImage(gridTile, schemeIndex))"
                        class="tile-background-image"
                        >
                        @tileMarker(gridTile, htmlUtil, isElementSelected)
                    </div>
                </div>
            }
        }
        </div>
    }
    </div>
</div>

<div class="row justify-content-center">
    <form action="/select/0" class="col-auto" method="POST">
    @element(elements.head, htmlUtil, schemeIndex)
    </form>
    <form action="/select/1" class="col-auto" method="POST">
    @element(elements(1), htmlUtil, schemeIndex)
    </form>
    <form action="/select/2" class="col-auto" method="POST">
    @element(elements(2), htmlUtil, schemeIndex)
    </form>
</div>