@import blockudoku.models.Grid
@import util.HtmlUtilities
@(grid: Grid, htmlUntil: HtmlUtilities)

@main("gameboard") {
    <div id="content">
        <table>
        @for(y <- 0 until grid.yLength) {
            <tr>
            @for(x <- 0 until grid.xLength) {
                @defining(grid.tile(x, y).get) { tile =>
                    <td class="tileFrames">
                        <button class="tile">
                            @htmlUntil.getTileButtonText(tile)
                        </button>
                    </td>
                }
            }
        }
        </table>
    </div>

    <div id="controlls">

        <form action="/direction/up" method="POST">
            <button>Up</button>
        </form>

        <form action="/direction/right" method="POST">
            <button>Right</button>
        </form>

        <form action="/direction/down" method="POST">
            <button>Down</button>
        </form>

        <form action="/direction/left" method="POST">
            <button>Left</button>
        </form>

        <form action="/select" method="POST">
            <button>Select</button>
        </form>
    </div>
}
