@(content: String)

@main("Welcome to Play") {
    <div id="content">@Html(content)</div>
    <form action="/direction/up" method="POST">
        <button>Up</button>
    </form>

    <form action="/direction/right" method="POST">
        <button>Right</button>
    </form>

    <form action="/direction/down" method="POST">
        <button>Down</button>
    </form>

    <form action="/direction/left" method="POST">
        <button>Left</button>
    </form>

    <form action="/select" method="POST">
        <button>Select</button>
    </form>
}
