@import blockudoku.models.Tile
@import util.HtmlUtilities

@(gridTile: Tile, htmlUtil: HtmlUtilities, isElementSelected: Boolean)
<div
    @(if (isElementSelected) "hx-trigger=mouseenter" else "")
    hx-post="/preview/@gridTile.index"
    id="tile@gridTile.index"
    hx-swap-oob="true"
    class="tile-marker-wrapper"
>
    @defining(htmlUtil.getTileMarkerImage(gridTile)){ image =>
        @if(image.isDefined) {
            <form
                action="/place/@gridTile.index"
                method="post"
            >
                <img
                    class="tile-clickable"
                    src="@image.get"
                    onclick="this.closest('form').requestSubmit()"
                >
            </form>
        }
    }
</div>