@import play.api.mvc.Flash

@()(implicit flash: Flash)

<script>
        const downloadToastTrigger = document.getElementById('download-btn');
        const downloadToast = document.getElementById('download-toast');

        const uploadToastTrigger = document.getElementById('upload-btn');
        const uploadToast = document.getElementById('upload-toast');

        if (downloadToastTrigger) {
            const toastBootstrap = bootstrap.Toast.getOrCreateInstance(downloadToast);
            downloadToastTrigger.addEventListener('click', () => {
                toastBootstrap.show()
            });
        }

        @if(flash.get("success").isDefined) {
            const toastBootstrap = bootstrap.Toast.getOrCreateInstance(uploadToast);
            toastBootstrap.show();
        }
</script>